/* CSS by Kidron */
/* GLOBAL STYLE */
h1 {
    font-size: 300px;
    color: #cbc196;
    background-color: #393169;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}